body {
    background-color: #252839;
    color: #b5b5b7;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

h1 {
    color: #f2b632;
    font-size: 48px;
    font-family: Arial, sans-serif;
    text-align: center;
}
